body {
  font-family: "open sans", sans-serif;
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 40px;
  min-height: 100vh;
  display: block;
}

header,
main {
  display: block;
}
header h1 {
  text-align: center;
}
h2 {
  text-align: left;
}

.logo img {
  position: relative;
  top: 4px;
  height: 30pt;
  width: auto;
}
.logo span {
  display: inline-block;
}
.logo {
  display: inline-block;
  margin-bottom: 40px;
  font-family: "Pacifico", cursive;
}

main {
  height: 100%;
}
section {
  height: 100%;
  display: table-cell;
}
section.value-props {
  text-align: left;
  width: 40%;
}
section.value-props ol {
  counter-reset: li-counter;
  list-style-type: none;
  padding-left: 2.5em;
}
section.value-props li {
  padding-top: 2em;
  position: relative;
}
section.value-props li h2 {
  margin: 0;
}
section.value-props li span {
  margin: 0;
}

section.value-props ol > li::before {
  background: black;
  color: white;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  left: -2em;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  content: counter(li-counter);
  counter-increment: li-counter;
}
section.cta {
  width: 40%;
  vertical-align: middle;
}
.cta h1,
.cta h2 {
  text-align: center;
}
.cta a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
.cta a,
.cta button {
  background-color: #ff5533;
  padding: 20px;
  border-radius: 15px;
  display: block;
}

footer,
footer a {
  color: #aaa;
}
footer {
  text-align: center;
  margin: 50pt auto 20pt auto;
  bottom: 0;
  border-top: 1px solid #aaa;
}
footer p {
  font-size: 1em;
}
footer .nav {
  padding-left: 0;
}
footer .nav li {
  display: inline-block;
}
footer .nav li:not(:first-child)::before {
  content: "| ";
}

@media (max-width: 640px) {
  .extra {
    display: none;
  }
  .logo {
    width: 75%;
  }
  .logo > span {
    display: block;
    font-size: 0.4em;
  }
  section {
    display: block;
  }
  section.cta {
    width: 100%;
  }
  section.value-props {
    width: 100%;
  }
}
