// Fonts
$defaultFont: "Montserrat", sans-serif;

// Colors
$whiteColor: #fff;
$blackColor: #000;
$darkGrayColor: #222;
$mediumGrayColor: #333;
$lightGrayColor: #ddd;
$brightGrayColor: #eee;

// The accent color
$accentPrimaryColor: #f53;
// Contrasting color to accent which may be used to overlay text
$accentPrimaryContrastColor: $whiteColor;
// Deviation of the accent color to be used during hover
$accentSecondaryColor: #f50;

$backgroundPrimaryColor: $whiteColor;
$backgroundSecondaryColor: $brightGrayColor;

$backgroundInversePrimaryColor: $blackColor;
$backgroundInverseSecondaryColor: $mediumGrayColor;
$backgroundInverseBorderColor: $darkGrayColor;

$foregroundPrimaryColor: $blackColor;
$foregroundSecondaryColor: $mediumGrayColor;

$foregroundInversePrimaryColor: $whiteColor;
$foregroundInverseSecondaryColor: $lightGrayColor;

// Font Size Variable
$extraLargeSize: 2.5rem;
$largeSize: 2rem;
$mediumSize: 1.6rem;
$defaultSize: 1rem;
$smallSize: 0.87rem;
$extraSmallSize: 0.6rem;

// Transtion Affect
.transtion {
  transition: all 0.3s ease-in-out;
  -web-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

a {
  color: $accentPrimaryColor;
  &:hover {
    text-decoration: none;
  }
}

body {
  font-family: $defaultFont;
  font-size: $defaultSize;
  line-height: 1.625rem;
  font-weight: 400;
  color: $foregroundPrimaryColor;
  background-color: $backgroundPrimaryColor;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased !important;
}

// Section Heading Style
.section_header_wrapper {
  margin-bottom: 40px;
  .heading_title {
    font-size: $extraLargeSize;
    font-weight: 700;
    line-height: 3.6rem;
  }
  .heading_desc {
    margin-top: 25px;
    font-size: 1.25rem;
    line-height: 1.55rem;
  }
  .heading_link {
    svg {
      transform: translateX(0);
    }
    &:hover {
      svg {
        transform: translateX(3px);
      }
      text-decoration: none;
    }
  }
}

// Navbar Style
.header {
  .navbar {
    .navbar-brand {
      padding-right: 50px;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.938rem;
          color: $foregroundPrimaryColor;
          text-transform: capitalize;
          font-weight: 500;
          padding: 0.5rem 1rem;
        }
        .price_btn {
          border: 1px solid $foregroundInverseSecondaryColor;
          padding: 7px 22px;
          border-radius: 1px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $backgroundSecondaryColor;
            border-color: $backgroundSecondaryColor;
          }
        }
      }
    }
  }
}

// Slider Senction Style
.slider_section {
  position: relative;
  height: 600px;

  &::before {
    position: absolute;
    content: "";
    background-color: $backgroundInversePrimaryColor;
    background-image: url("/images/slider_bg.png");
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
  }
  .info {
    padding-top: 120px;

    h3 {
      color: $foregroundInversePrimaryColor;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 4.25rem;
    }
    p {
      color: $foregroundInverseSecondaryColor;
      margin: 25px 75px;
      font-size: 18px;
    }
    .search_wrapper {
      input {
        width: 320px;
        height: 55px;
        border: 0;
        padding: 5px 10px;
        font-size: 13px;

        &:focus {
          border: 0;
        }
      }
      button {
        background-color: $accentPrimaryColor;
        border: 0;
        height: 55px;
        color: $foregroundInversePrimaryColor;
        padding: 0 15px;
        margin-left: -5px;

        &:focus {
          border: none;
        }
      }
    }
    .sales_team_link {
      display: inline-block;
      margin-top: 30px;
      color: $foregroundInversePrimaryColor;
      transition: all 0.5s ease-in-out;

      svg {
        color: $accentPrimaryColor;
        transform: translateX(0px);
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        text-decoration: none;
        svg {
          transform: translateX(3px);
        }
      }
    }
  }
}

// News Section Style
.news_section {
  background: $backgroundSecondaryColor;
  .news_section_container {
    background-color: $backgroundPrimaryColor;
    position: relative;
    top: -60px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    .single_news {
      padding: 30px 20px;

      &:hover {
        background-color: $accentPrimaryColor;
        .highlight {
          color: $foregroundInversePrimaryColor;
        }
        h3 {
          color: $foregroundInversePrimaryColor;
        }
        p {
          color: $foregroundInversePrimaryColor;
        }
      }

      .highlight {
        font-size: $extraSmallSize;
        color: $foregroundSecondaryColor;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
      }
      p {
        font-size: $smallSize;
        text-transform: capitalize;
        color: $accentPrimaryColor;
        margin-top: 15px;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// Trusted Section Style
.trusted_logo {
  background-color: $backgroundSecondaryColor;
  padding: 30px 0 80px 0;

  .logo_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .single_logo {
      margin: 0 auto;
    }
  }
}

// Solution Section Style
.solution_section {
  padding: 90px 0;

  .single_solution {
    padding: 40px 30px;
    background-color: $backgroundSecondaryColor;
    display: table;
    cursor: pointer;

    &:hover {
      .body {
        span {
          svg {
            transform: translateX(3px);
          }
        }
      }
    }

    .icon {
      display: table-cell;
      vertical-align: top;
    }
    .body {
      margin-left: 20px;
      h3 {
        font-size: 1.5rem;
        line-height: 1.417em;
        font-weight: 400;
        margin: 0 0 8px;
        strong {
          font-weight: 700;
        }
      }
      p {
        font-size: 0.938rem;
        letter-spacing: 0.01em;
        line-height: 1.667em;
        margin: 0 0 16px;
        color: $foregroundSecondaryColor;
      }
      span {
        display: inline-block;
        color: $accentPrimaryColor;

        svg {
          transform: translateX(0);
        }
      }
    }
  }
}

// Start of Product Section
.product_section {
  scroll-behavior: smooth;
  background-color: $backgroundInversePrimaryColor;
  padding: 90px 0;
  .section_header_wrapper {
    color: $foregroundInversePrimaryColor;

    a {
      color: $foregroundInversePrimaryColor;
    }

    .heading_title {
      text-transform: capitalize;
    }
  }

  .product_section_area {
    .product_menu_list {
      position: sticky;
      top: 0;
      bottom: auto;
      width: auto;
      margin-left: -50px;
      padding-top: 200px;
      .product_menu_item {
        text-transform: capitalize;
        a {
          transition: all 0.3s ease-in-out;
          color: $foregroundSecondaryColor;
          font-size: 14px;
          &:hover {
            color: $foregroundInversePrimaryColor;
            text-decoration: none;
          }
        }
        .current {
          color: $foregroundInversePrimaryColor;
        }
      }
    }
    .product_details_area {
      margin-top: -500px;
      margin-left: 200px;
      .product_details_wrapper {
        display: flex;
        justify-content: space-between;
        min-height: 70vh;
        .product_details {
          h3 {
            color: $foregroundInversePrimaryColor;
            margin-top: 50%;
          }
          p {
            color: $foregroundInverseSecondaryColor;
          }
        }
        .product_img {
          img {
            margin-top: 50%;
          }
        }
      }
    }
  }
}

// Integration Section Style
.integrations_section {
  padding: 90px 0;
  background-color: $backgroundSecondaryColor;

  .integration_left_info {
    h3 {
      font-size: $extraLargeSize;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p {
      color: $foregroundSecondaryColor;
    }
    a {
      transition: all 0.3s ease-in-out;
      text-transform: capitalize;
      svg {
        transition: all 0.3s ease-in-out;
        transform: translateX(0);
      }
      &:hover {
        svg {
          transform: translateX(5px);
        }
      }
    }
  }

  .integration_logo_list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;

    .integration_logo {
      margin: 16px;
      width: calc(25% - 32px);
      background: $backgroundPrimaryColor;
      justify-content: center;
      transition: box-shadow 0.25s, transform 0.25s;

      &:hover {
        box-shadow: 0 16px 28px rgba(37, 38, 45, 0.12);
        transform: translateY(-4px);
      }

      .logo {
        padding-top: 100%;
        position: relative;

        a {
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 15px;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

//Call to action Section Style
.call_to_action_section {
  padding: 60px 0;
  background-color: $backgroundPrimaryColor;

  .call_to_action_title {
    h3 {
      font-size: $extraLargeSize;
      color: $foregroundPrimaryColor;
      letter-spacing: -0.01rem;
      line-height: 3rem;
      margin-bottom: 0;
    }
  }
  .call_to_action_info {
    padding-left: 80px;
    p {
      color: $foregroundSecondaryColor;
      font-size: $mediumSize;
      line-height: 2rem;
    }
    .content_and_link {
      margin-top: 30px;
      a {
        display: inline-block;
        padding: 12px 20px;
        text-align: center;
        border-radius: 1px;
        border: none;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        -webkit-appearance: none;
      }
      .sale_btn {
        background-color: $accentPrimaryColor;
        color: $foregroundInversePrimaryColor;
        margin-right: 16px;

        &:hover {
          background-color: $accentSecondaryColor;
        }
      }
      .demo {
        border: 1px solid rgba(29, 30, 35, 0.2);
        color: $foregroundPrimaryColor;

        &:hover {
          background-color: $backgroundSecondaryColor;
          border-color: $backgroundSecondaryColor;
        }
      }
    }
  }
}

// Footer Section Style
.footer {
  background-color: $backgroundInversePrimaryColor;

  .newsletter_wrapper {
    padding: 60px 0;

    .newsletter_info {
      input {
        font-size: 1rem;
        color: $foregroundInversePrimaryColor;
        border: 1px solid $backgroundInverseSecondaryColor;
        background: $backgroundInverseSecondaryColor;
        border-radius: 2px;
        padding: 12px;
        width: 320px;
        line-height: 1.5em;
        margin-right: 15px;

        &:focus {
          border-color: $accentPrimaryColor; // TODO: Validate
          box-shadow: none;
        }
      }
      button {
        background-color: $accentPrimaryColor;
        color: $accentPrimaryContrastColor;
        border: 0;
        border-radius: 2px;
        font-size: 14px;
        border: 1px solid $accentPrimaryColor;
        min-height: 48px;
        padding: 12px 20px;

        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $accentSecondaryColor;
          border-color: $accentSecondaryColor;
        }
      }
      .form-check {
        margin-top: 10px;
        input {
          width: auto !important;
          margin-top: 6px;
        }
        label {
          color: $foregroundInversePrimaryColor;
        }
      }
    }
  }

  //Social Wrapper Style
  .social_wrapper {
    .social_info {
      padding: 35px 0;
      border-bottom: 1px solid $backgroundInverseBorderColor;
      border-top: 1px solid $backgroundInverseBorderColor;
      display: flex;
      justify-content: space-between;

      .logo {
        h2 {
          font-size: 24px;
          font-weight: 700;
          color: $foregroundInversePrimaryColor;
          margin: 0;
        }
      }
      .social_icon {
        .list-inline-item {
          a {
            color: $foregroundInverseSecondaryColor;
            i {
              &::before {
                font-size: $mediumSize;
                padding-left: $defaultSize;
              }
            }
          }
        }
      }
    }
  }

  //Footer Top Section Style
  .footer_top_section {
    padding: 60px 0 40px 0;

    .footer_logo_wrapper {
      overflow: hidden;

      .footer_logo {
        width: 50%;
        margin-bottom: 60px;
        float: left;

        span {
          color: $foregroundInverseSecondaryColor;
          display: block;
          font-size: 0.75rem;
          font-weight: 700;
          letter-spacing: 0.5px;
          line-height: 1.125rem;
          text-transform: uppercase;
        }
        p {
          display: block;
          font-size: 0.875rem;
          line-height: 1.5rem;
          margin-top: 8px;
          color: $foregroundInversePrimaryColor;
        }
      }
    }

    .links_wrapper {
      display: flex;
      justify-content: space-between;

      .links {
        h3 {
          color: $foregroundInverseSecondaryColor;
          display: block;
          font-size: 0.75rem;
          font-weight: 700;
          letter-spacing: 0.5px;
          line-height: 1.125rem;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        ul {
          li {
            a {
              display: inline-block;
              color: $foregroundInversePrimaryColor;
              margin-bottom: 10px;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $accentPrimaryColor;
              }
            }
          }
        }
      }
    }
  }

  //Footer Bottom Style
  .footer_bottom {
    border-top: 1px solid $backgroundInverseBorderColor;
    padding: 24px 0 46px;

    .footer_bottom_wrapper {
      display: flex;
      justify-content: space-between;

      ul {
        li {
          a {
            color: $foregroundInverseSecondaryColor;
            transition: all 0.3s ease-in-out;
            margin-right: 15px;

            &:hover {
              color: $foregroundInversePrimaryColor;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
